<ion-view>
 <ion-content>
      <div class="bar bar-header bar-light">
        <h1 class="title"><img src="http://www.moretonhallschool.com/Templates/images/logo.png" alt=""></h1>
      </div>
      <div class="about-page">

        <!-- TODO: Change content to yours -->
        
        <h1 class="text-center"> About </h1>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime minus iusto labore quis vel at, eveniet porro unde maiores quia ipsa, officiis repellendus incidunt odit molestias distinctio similique cumque officia!
        </p>

        <p>
          Name: Arthur Cirulnik
        </p>
        <p>
          E-mail: <a href="mailto:arthur@thecuriousway.com">arthur@thecuriousway.com</a>
        </p>
        <p>
          Website: <a href="http://thecuriousway.com">http://thecuriousway.com</a>
        </p>

      </div>
    
     
  </ion-content>

</ion-view>
