
/* TODO: Change background to Moreton Hall blue */
.about-page{
	padding: 60px 40px 40px 40px;
	height: 100%;
	background: #ffffff;
}

/* TODO: Change colour to white */
.about-page h1{
	color: #000000;
}

.about-page p{
	color: #000000;
}


.about-page a{
	color: #000000;
}

.bar.bar-header{
	background-color: white !important;
}

.title img{
	width: 100px;
	height: auto;
	padding-top: 12px;
	display: inline-block;
}